/* CSS styling */
body {
    /*font of the entire webiste*/
    font-family: Arial, sans-serif;
    /*adding bg image*/
    background-image: url(img/a.jpeg);
    background-size: cover; /*covers the entire website*/
    /*to centralize the content of the website*/
    max-width: max-content;
    margin: auto;
    margin-top: 150px;
}

.calcu {
    width: 100%;
    margin: 50px;
    padding: 20px;
    border-radius: 8px; /*the rounded corner of the border*/
    border: 1px solid black; /*width, the style, and colour of the border */
    background-color: rgba(242, 245, 143, 0.5); /*colour of the calculator with transparency of 0.5*/
}

h1 {
    color: rgb(0, 0, 0); /*colour of the text*/
    text-align: center; /*positioning the text at the */
}

/*label for the gas and km*/
label {
    margin-top: 10px; /*from the border to the border of the input box*/
    font-size: 26px;
    color: white;
}

/*the inputted number*/
input {
    width: 90%;
    border-radius: 4px; /*corner of border*/
    background-color:(gray,0.5); 
    font-size: 26px;
    color: #000000;
}

button {
    margin-left: 10%;
    margin-top: 3%;
    width: 80%;
    padding: 10px;
    background-color: #a95d11;
    color: #fff; /*colour of the text*/
    border: none; /*removes the border from the button*/
    border-radius: 9px; /*the corner of the button*/
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #ffffff; /*the colour of the button when the button will be hover*/
    color: #4d1a32;
    border:solid 1px #000000;
}

.number div {
    background-color: rgb(169, 93, 17, 0.8);
    text-align: center;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
  }

.number{
  display: grid;
  /*there is 2 row and column*/
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

#cost {
    text-align: center;
    font-weight: bold;
    color: #000000;
    padding: 10px;
    margin-top: 2%;
}